# Python
__pycache__
*.py[cod]
*.so
.Python
.env
.venv
venv/
ENV/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log

# Database
*.db
*.sqlite3

# Secrets
*.pem
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform provider binaries
terraform-provider-*

# tfvars
*.tfvars
*.tfvars.json

*.terraform

*.key
*.crt

workspace.xml

docs/

ansible/elwasaya/files/